#form-login{
    width: 30%;
    position: absolute;
    top: 25%;
    left: 35%;
    background-color: #8b8b8b;
    opacity: 90%;
    border: 1px solid grey;
    border-radius: 1%;
}

.active-button{display: inline-block;}
.desactive-button{display: none;}